- if @list
  - content_for :body_class, @list.publish_date.strftime('%A').downcase
  .list
    %h2.date= l @list.publish_date
    %ul
      - @list.links.each do |link|
        %li
          %a{:href => "#{link.url}"}= link.title
          %p.vote-wrap
            - if current_or_guest_user.voted_on?(link) == false
              = link_to('it was good', vote_up_link_path(link), :method => :post, :class => "vote-btn")
            - else
              %span.vote-btn.inactive-btn

            - if link.votes_for > 0

              %span.vote-count
                = link.votes_for
  %ul.list-paging
    %li
      = link_to("<", @list.previous_list, class: 'prev-list-button') if @list.previous_list
      <!-- = inline_svg "square.svg", class: 'animated-sqaure' -->

    %li
      = link_to(">", @list.next_list, class: 'next-list-button') if @list.next_list
- else
  No list!
