<!DOCTYPE html>
<html>
  <head>
    <title>Cinco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.username %>. <%= link_to 'Admin something or other', admin_path %>
      <% else %>
        <%= link_to 'Log In', admin_path %>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1><a href="/">cinco</a></h1>
    <%= yield %>
  </body>
</html>
