%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
  = devise_error_messages!
  %ul
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %li
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    %li.field
      %i (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off", placeholder: "new password"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
    %li.field
      = f.password_field :password_confirmation, autocomplete: "off" , placeholder: "confirm new password"
    %li.field
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off", placeholder: "current password"
    %li.actions
      = f.submit "Update"
    %li= link_to "Back", :back
