<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <ul>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <li>Currently waiting confirmation for: <%= resource.unconfirmed_email %></li>
  <% end %>

  <li class="field">
    <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", placeholder: "new password" %>
    <% if @minimum_password_length %>

      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </li>

  <li class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "confirm new password"%>
  </li>

  <li class="field">
    <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "current password"%>
  </li>

  <li class="actions">
    <%= f.submit "Update" %>
  </li>
  <li><%= link_to "Back", :back %></li>
</ul>
<% end %>
